.movie-night.col-md-6
  =link_to movie_night.movie, id: movie_night.movie.id, remote: true do
    .mn-image
      .upcoming-movie
        .upcoming-poster
          = image_tag movie_night.movie.poster_path, class:"", width:"154px", height:"250px"
  .mn-desc
    .mn-desc-d
      %p.title CINE
      %span.edit EDITAR
      %p.cont= movie_night.movie.theaters.first.name
    .mn-desc-d
      %p.title FECHAS
      %span.edit EDITAR
      %p.cont= movie_night.movie.release_date
    .mn-desc-d
      %p.title HORARIOS
      %span.edit EDITAR
      %p.cont= movie_night.movie.schedules.first.description
    .mn-desc-d
      - if movie_night.owner == current_user
        = link_to 'Cancelar', movie_night, method: :delete, class: 'mn-action'
      - else
        - if movie_night.users.include? current_user
          = link_to 'Cancelo', movie_night_attendee_path(movie_night, current_user), method: :delete, class: 'mn-action'
        -else
          = form_for [movie_night, Attendee.new] do |f|
            = f.submit 'Unirse', class: 'mn-action' do
    %p.center AMIGOS QUIEREN VER
    .row.center
      .mn-friends
        = image_tag movie_night.owner.image, class: 'prof-friend'
      - movie_night.users.each do |user|
        .mn-friends
          = image_tag user.image, class: 'prof-friend'
  .mn-chat.movie-night-left
    .content-message
      %p Hola,
    = image_tag "logo/small.png", class:"img-small"
    %p Vamos todos a ver
    .field-message
      %p.center= text_area(:post, :body, cols: 20, rows: 2)
