#no-theaters
  .modal-theaters
    = image_tag "logo/sad_red.png", class: "pull-left"
    %p.alert "ESTA PELI NO LA ESTAN DANDO EN TUS CINES"
  .row  
    .modal-see-theaters.col-xs-6
      %p Si deseas saber en que otros cines que no son de tus favoritos estan pasando la pelicula.
      =link_to "#", {id: "modal-see-theaters"} do
        =image_tag("btn/see_theaters.png")
    .modal-take-control.col-xs-6
      %p Tu toma el control y mandales un troll pidiendo la pelicula que solicitas. ¿Que esperas?
      =link_to image_tag("btn/take_control.png")

#favorite-theaters
  .modal-theaters
    = select_tag "movie-theaters", options_for_select(@movie_decorator.favorite_theaters_to_show), class: "form-control select-movie-theater", "data-movie-id"=> @movie_decorator.id              
  .modal-schedules
    .schedules
      - @movie_decorator.first_schedule.schedule_description.to_a.each do |schedule|
        - classes = "coming" if schedule[:coming]
        - classes = " first_coming" if schedule[:first_coming]
        .schedule{class: classes }
          %p= schedule[:hours]

  = render "movies/modal/options"

#all-theaters
  .modal-theaters
    = select_tag "movie-theaters", options_for_select(@movie_decorator.all_theaters_to_show), class: "form-control select-movie-theater", "data-movie-id"=> @movie_decorator.id              
  .modal-schedules
    .schedules
      - @movie_decorator.first_schedule.schedule_description.to_a.each do |schedule|
        - classes = "coming" if schedule[:coming]
        - classes = " first_coming" if schedule[:first_coming]
        .schedule{class: classes }
          %p= schedule[:hours]

  = render "movies/modal/options"
