
.logo
  = image_tag "brand_peligroso.png", id:"logo"

.category
  %h1 Now Playing
  - @now_playing.each do |movie|
    = image_tag "http://image.tmdb.org/t/p/w154#{movie['poster_path']}", class:"poster"

.category
  %h1 Upcoming
  - @upcoming.each do |movie|
    = image_tag "http://image.tmdb.org/t/p/w154#{movie['poster_path']}", class:"poster"
/ %ul
/   %li Object Oriented
/   %li Ruby on Rails
/   %li en Heroku!!!
/   %li nada de Javascript! solo CoffeeScript
/   %li nada de HTML solo HAML!
  