.movie-details.modal.fade
  .modal-dialog
    .message_watchlist
      = image_tag "icon_menssage_watchlist.png"
    .modal-content
      .modal-header
        = render "movies/modal/header"
      
      .modal-row-details.modal-body.row{"data-movie-id" => @movie_decorator.id}
        .col-sm-4
          = render "movies/modal/poster"
        .section-movie.col-sm-8
          .tabpanel
            %ul.nav.nav-tabs
              %li{"role"=>"presentation", "class"=>"active"}
                %a{:href => "#theaters", "aria-controls"=>"theaters", "role"=>"tab", "data-toggle"=>"tab"} Cines
              %li{"role"=>"presentation"}
                %a{:href => "#movie-description", "aria-controls"=>"movie-description", "role"=>"tab", "data-toggle"=>"tab"} Descripción
            .tab-content
              #theaters.tab-pane.active{"role"=>"tabpanel"}
                = render "movies/modal/theaters"
              #movie-description.tab-pane{"role"=>"tabpanel"}
                = render "movies/modal/overview"
        .section-seen.col-sm-8
          = render "movies/modal/seen_movie"
      .modal-row-trailer.modal-body.modal-body-padding.row
        .modal-trailer.col-sm-12
          = render "movies/modal/trailer"
