.movie-details.modal.fade
  .modal-dialog
    .message_watchlist
      =image_tag "icon_menssage_watchlist.png"
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        =link_to "#", id: "link_boton_back_video" do
          =image_tag "boton_back_video.png", class: "boton-back-video"
        =image_tag "logo/small.png", class: "pull-left modal-logo"
        %h4.modal-title= @movie_decorator.name
      .modal-row-details.modal-body.row
        .col-sm-4
          .modal-poster
            -if @movie_decorator.trailer?
              %a{:href => "#", id:"play-trailer"}
                =image_tag "trailer_play.png", class: "btn-trailer-play hidden-xs"
            .modal-poster-img
              =image_tag @movie_decorator.poster_path, class: "poster-modal hidden-xs"
        .col-sm-8
          .modal-overview
            %p= @movie_decorator.overview
          .modal-theaters
            %h5 TUS CINES
            = select_tag "movie-theaters", select_theater_options(@movie_decorator.favorite_theaters, @movie_decorator.theaters, @disabled), class: "form-control select-movie-theater", "data-movie-id"=> @movie_decorator.id
          .modal-schedules
            %h5 HORARIOS
            %p= @movie_decorator.first_schedule.description
          .modal-options
            =link_to "#", id: @movie_decorator.watchlist_id, class: "pull-right" do
              =image_tag @movie_decorator.watchlist_image
      .modal-row-trailer.modal-body.modal-body-padding.row
        .modal-trailer.col-sm-12
          -if @movie_decorator.trailer?
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "419", :src => "http://www.youtube.com/embed/#{@movie_decorator.trailer}", :width => "598"}
