.movie-details.modal.fade
  .modal-dialog
    .message_watchlist
      = image_tag "icon_menssage_watchlist.png"
    .modal-content
      .modal-header
        = render "movies/modal/header"
      .modal-body.modal-row-details.row{"data-movie-id" => @movie_decorator.id}
        .col-sm-4
          = render "movies/modal/poster"
        .col-sm-8
          = render "movies/modal/overview"
          = render "movies/modal/theaters"
      .modal-row-trailer.modal-body.modal-body-padding.row
        .modal-trailer.col-sm-12
          = render "movies/modal/trailer"
          
