.container-fluid
  .row
    .category
      %h2 EN CARTELERA
      = render "slider", movies: @movies
    .category
      %h2 PROXIMAMENTE
      .slider
        .left
          %a.slide-left{href: "#"}
            =image_tag 'slide_arrow_left.png'
        .right
          %a.slide-right{href: "#"}
            =image_tag 'slide_arrow_right.png'
        #track2.track
          - @upcoming.each do |movie|
            = image_tag("http://image.tmdb.org/t/p/w154#{movie['poster_path']}", class:"poster movie-poster")
          = image_tag("", class:"poster movie-poster")
= render "modal"