.slider
  #makeMeScrollable
    - @watchlist.each do |movie_decorator|
      - next if movie_decorator.poster_path.nil?
      - if movie_decorator.coming_soon?
        =link_to upcoming_movie_path(movie_decorator.tmdb_id), id:movie_decorator.id, remote: true do
          .watchlist-movie
            .upcoming-movie
              %p.center{class: movie_decorator.label_class}
                EN
                %span= movie_decorator.distance_of_time_to_release_date
                DÍAS
              .upcoming-poster
                = image_tag movie_decorator.poster_path, class:"poster fix-upcoming-date"
      - else
        =link_to movie_decorator.movie, id:movie_decorator.id, remote: true do
          .watchlist-movie
            .upcoming-movie
              %p.center{class: movie_decorator.label_class}
                %span= movie_decorator.distance_of_time_to_release_date
                DÍAS EN FUNCIÓN
              .upcoming-poster
                = image_tag movie_decorator.poster_path, class:"poster fix-upcoming-date"
            - if movie_decorator.stars_present?
              .stars-label
                %p.center.pull-left
                  = movie_decorator.stars_percentage
                  =image_tag(movie_decorator.stars_image, width:"50px")