= params[:steps]
.container-fluid.white-background
  .row-fluid
    - if @steps
      .steps.col-sm-6.col-sm-offset-3
        = image_tag "step1.png"
    .header-title.col-sm-6.col-sm-offset-3
      %h3 ¿Con qué frecuencia ves estos géneros ...
      %h2
        %small (Usted puede cambiar sus respuestas en cualquier momento)
      %hr/
      =form_tag({action: :create}) do
        .row
          .col-sm-6
            %table.table
              %tr.no-border
                %th.no-border
                %th.no-border.center nunca
                %th.no-border.center aveces
                %th.no-border.center amenudo
              - @genres.each do|genre| 
                %tr.genres
                  %td.no-border
                    =genre.name.upcase
                  %td.no-border
                    %label
                      =radio_button_tag("genres[#{genre.id}]", 1, genre_interest?(user_genres: @user_genres, genre: genre, value: 1))
                  %td.no-border
                    %label
                      =radio_button_tag("genres[#{genre.id}]", 2, genre_interest?(user_genres: @user_genres, genre: genre, value: 2))
                  %td.no-border
                    %label
                      =radio_button_tag("genres[#{genre.id}]", 3, genre_interest?(user_genres: @user_genres, genre: genre, value: 3))
              %tr
                %td.no-border.more-genres
                  =link_to  "#", class: "center", id: "more-genres" do
                    VER MAS
                    %span.caret
        .div-footer
          =submit_tag "GUARDAR", class:"btn btn-primary pull-right submit-btn"
          =link_to "CANCELAR", movies_path, class:"btn btn-default pull-right" 
          
